body {
    background-color: rgb(203, 255, 255);
}

.h1, .h2 {
    /* background-color: rgb(144, 224, 248); */
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.h1 {
    background-color: rgb(214, 206, 195);
    width: 250px;
    height: 150px;
    margin: 0 auto;
    
    border-radius: 78% 22% 77% 23% / 23% 79% 21% 77%;
}

.h1 h1 {
    font-size: 50px;
    font-family: cursive;
    color: rgb(94, 48, 18);
}

h2 {
    font-family: cursive;
    color: rgb(0, 59, 8);
}

.form {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.form, .mdp, .btn {
    margin-top: 70px;
}

.id {
    display: flex;
}

.id input {
    
    background-color: rgb(173, 240, 173);
    width: 200px;
    margin: 0 auto;
    font-style: italic;
    height: 40px;
    border-radius: 52% 48% 48% 52% / 100% 100% 0% 0%;
    text-align: center;
}

.mdp {
    display: flex;
}

.mdp input {
    height: 40px;
    background-color: rgb(226, 216, 255);
    width: 200px;
    margin: 0 auto;    
    font-style: italic;
    border-radius: 50% 50% 51% 49% / 0% 0% 100% 100%;
    text-align: center;
}

.btn button {
    border-radius: 61% 39% 57% 43% / 40% 58% 42% 60%;
    width: 250px;
    height: 50px;
    background-color: rgb(240, 255, 105);
    font-size: x-large;
    font-family: cursive;
}